<mat-toolbar class="w-100 position-relative mb-4 header" color="primary">
  <div>
    <h1 class="px-0 my-2 text-white">{{ "Item info" | translate }}</h1>
  </div>

  <button
    mat-icon-button
    class="m-2 position-absolute end-0"
    [mat-dialog-close]="null"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-0 overflow-x-hidden" style="max-height: 80vh">
  <div class="container-fluid">
    <form [formGroup]="itemForm" class="formGroup" (ngSubmit)="SubmitForm()">
      <div class="row">
        <div class="d-flex justify-content-between flex-column col-3">
          <img
            [src]="imageUrl + item.imagePath"
            style="aspect-ratio: 3/2"
            class="object-fit-contain w-100"
          />
          <button
            mat-raised-button
            color="primary"
            class="my-4"
            type="button"
            (click)="ChangeImage()"
          >
            {{ "Change image" | translate }}
          </button>
        </div>
        <div class="row col-6 d-flex flex-column">
          <mat-form-field>
            <mat-label>{{ "Name" | translate }}</mat-label>
            <input formControlName="name" matInput />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ "Description" | translate }}</mat-label>
            <textarea formControlName="description" matInput></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ "Barcode" | translate }}</mat-label>
            <input formControlName="barcode" matInput />
          </mat-form-field>

          <!-- <mat-form-field>
            <mat-label>{{ "Price" | translate }}</mat-label>
            <input type="number" formControlName="price" matInput />
          </mat-form-field> -->
        </div>
        <div class="row col-3 d-flex flex-column">
          <mat-checkbox
            formControlName="flg_addToCart"
            matInput
            color="primary"
          >
            {{ "Add item to transaction" | translate }}
          </mat-checkbox>
          <mat-checkbox
            formControlName="flg_verifyAdult"
            matInput
            color="primary"
          >
            {{ "Article 18+" | translate }}
          </mat-checkbox>
          <mat-checkbox formControlName="flg_isMenu" matInput color="primary">
            {{ "Menu" | translate }}
          </mat-checkbox>
          <mat-checkbox formControlName="available" matInput color="primary">
            {{ "Available" | translate }}
          </mat-checkbox>
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit">
        {{ flg_insert ? "Create" : ("Save" | translate) }}
      </button>
    </form>
  </div>
  <app-translations-editor
    [id]="item.id!"
    [translations]="item.translations!"
    [flg_isEditable]="!this.flg_insert"
    [type]="'Item'"
  />

  <app-assigned-editor
    [type]="'ItemOptions-Item'"
    [id]="item.id!"
    [AssignedObjects]="item.options"
    [flg_insert]="this.flg_insert"
  />

  <app-assigned-editor
    [type]="'CategoryItems-Item'"
    [id]="item.id!"
    [AssignedObjects]="item.categoriesItsIn"
    [flg_insert]="this.flg_insert"
  />

  <app-assigned-editor
    [type]="'OptionItems-Item'"
    [id]="item.id!"
    [AssignedObjects]="item.optionsItsIn"
    [flg_insert]="this.flg_insert"
  />
</mat-dialog-content>
