<div class="container mt-3">
  <div class="row"><h1>{{"Discounts" | translate}}</h1></div>
  <form [formGroup]="filterForm" class="formGroup">
    <div class="row container-fluid">
      <mat-form-field class="col-3 m-1">
        <mat-label>{{"Name" | translate}}</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>
      <mat-form-field class="col-3 m-1">
        <mat-label>{{"ID" | translate}}</mat-label>
        <input formControlName="id" matInput />
      </mat-form-field>

      <!-- <mat-form-field class="col-3 m-1">
        <mat-label>{{"Barcode" | translate}}</mat-label>
        <input formControlName="barcode" matInput />
      </mat-form-field> -->
    </div>
    <div class="container-fluid d-flex justify-content-between">
      <div>
        <button
          mat-raised-button
          color="primary"
          class="mx-1 mb-3"
          (click)="GetDiscounts()"
        >
        {{"Search" | translate}}
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="ResetForm()"
          class="mx-1 mb-3"
          type=""
        >
        {{"Clear" | translate}}
        </button>
      </div>
      <div class="col"></div>
      <button
        mat-raised-button
        color="primary"
        (click)="UpdateDiscount()"
        class="mx-1"
      >
      {{"Update Discount" | translate}}
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="OpenDialogModifyDiscount()"
        class="mx-1"
      >
      {{"Add Discount" | translate}}
      </button>
    </div>
  </form>
</div>

<app-edit-list
  *ngIf="this.list != null"
  [parentData]="this.list"
  [columnName]="'Discount'"
  (refresh)="this.GetDiscounts()"
></app-edit-list>
