<div class="dialog">
  <mat-toolbar class="w-100 position-relative mb-4" color="primary">
    <div>
      <h1 class="px-0 my-2 text-white">Category info</h1>
    </div>

    <button
      mat-icon-button
      class="m-2 position-absolute end-0"
      [mat-dialog-close]="null"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container-fluid">
    <form
      [formGroup]="categoryForm"
      class="formGroup"
      (ngSubmit)="SubmitForm()"
    >
      <div class="row">
        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Image</mat-label>
          <input formControlName="imagePath" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Order</mat-label>
          <input type="number" formControlName="order" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-checkbox formControlName="available" matInput color="primary">
            Available
          </mat-checkbox>
        </div>

        <div class="col-6">
          <h4 class="mb-0">Visible if:</h4>
          <mat-checkbox formControlName="dineIn" matInput color="primary">
            Dine in
          </mat-checkbox>
          <mat-checkbox formControlName="takeAway" matInput color="primary">
            Take away
          </mat-checkbox>
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit">
        {{ flg_insert ? "Create" : "Modify" }}
      </button>
    </form>
  </div>

  <app-translations-editor [type]="'Category'" [id]="category?.id!"
  [translations]="category?.translations!"  [flg_isEditable]="!this.flg_insert" />
</div>
