<div class="dialog container-fluid">
  <div class="w-100 d-flex position-relative">
    <h1 mat-dialog-title class="px-0">
      {{ flg_insert ? "New category" : "Edit category" }}:
    </h1>

    <button
      mat-icon-button
      class="m-2 position-absolute end-0"
      [mat-dialog-close]="null"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="categoryForm" class="formGroup" (ngSubmit)="SubmitForm()">
    <div class="row">
      <mat-form-field appearance="outline" class="col-4">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-4">
        <mat-label>Image</mat-label>
        <input formControlName="imagePath" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-4">
        <mat-label>Order</mat-label>
        <input type="number" formControlName="order" matInput />
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-checkbox formControlName="available" matInput color="primary">
          Available
        </mat-checkbox>
      </div>

      <div class="col-6">
        <h4 class="mb-0">Visible if:</h4>
        <mat-checkbox formControlName="dineIn" matInput color="primary">
          Dine in
        </mat-checkbox>
        <mat-checkbox formControlName="takeAway" matInput color="primary">
          Take away
        </mat-checkbox>
      </div>
    </div>

    <button mat-raised-button color="primary" type="submit">
      {{ flg_insert ? "Create" : "Modify" }}
    </button>
  </form>
  <div>
    <div class="row" *ngFor="let translation of this.category?.translations">
      <mat-form-field class="col-2">
        <mat-label>Language</mat-label>
        <input matInput type="text" [(ngModel)]="translation!.language" />
      </mat-form-field>
      <mat-form-field class="col-8">
        <mat-label>Value</mat-label>
        <input matInput type="text" [(ngModel)]="translation!.value" />
      </mat-form-field>
      <button mat-mini-fab color="primary" class="m-1 col-1">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="primary" class="m-1 col-1">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <form
      [formGroup]="categoryForm"
      class="formGroup"
      (ngSubmit)="SubmitForm()"
    >
      <div class="row">
        <mat-form-field class="col-2">
          <mat-label>Language</mat-label>
          <input matInput type="text" />
        </mat-form-field>

        <mat-form-field class="col-8">
          <mat-label>Value</mat-label>
          <input matInput type="text" />
        </mat-form-field>

        <button mat-mini-fab color="primary" class="m-1 col-2">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
