<mat-dialog-content class="p-0 overflow-x-hidden" style="max-height: 80vh">
  <mat-toolbar class="w-100 position-relative mb-4" color="primary">
    <div>
      <h1 class="px-0 my-2 text-white">Category info</h1>
    </div>

    <button
      mat-icon-button
      class="m-2 position-absolute end-0"
      [mat-dialog-close]="null"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container-fluid row">
    <form
      [formGroup]="categoryForm"
      class="formGroup"
      (ngSubmit)="SubmitForm()"
    >
      <div class="row">
        <div class="d-flex justify-content-between flex-column col-3 h-100">
          <img
            src="http://localhost/KioskImages/{{ category.imagePath }}"
            alt="Image"
            style="aspect-ratio: 16/9"
            class="object-fit-contain w-100"
            *ngIf="category.imagePath != null"
          />
          <button
            mat-raised-button
            color="primary"
            class="my-4"
            type="button"
            (click)="ChangeImage()"
            [class.t-50]="category.imagePath == null"
          >
            {{ category.imagePath != null ? "Change image" : "Choose image" }}
          </button>
        </div>
        <div class="row col-9">
          <div class="col-6 d-flex flex-column">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input formControlName="name" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Order</mat-label>
              <input type="number" formControlName="order" matInput />
            </mat-form-field>
          </div>
          <div class="col-6 d-flex flex-column">
            <h4 class="mb-0">Available:</h4>
            <mat-checkbox formControlName="available" matInput color="primary">
              Available
            </mat-checkbox>

            <h4 class="mb-0">Visible if:</h4>
            <mat-checkbox formControlName="dineIn" matInput color="primary">
              Dine in
            </mat-checkbox>
            <mat-checkbox formControlName="takeAway" matInput color="primary">
              Take away
            </mat-checkbox>
          </div>
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit">
        {{ flg_insert ? "Create" : "Modify" }}
      </button>
    </form>
  </div>

  <app-translations-editor
    [type]="'Category'"
    [id]="category.id!"
    [translations]="category.translations!"
    [flg_isEditable]="!this.flg_insert"
  />
  <app-timespan-editor
    [id]="category.id!"
    [timespans]="category.timespans!"
    [flg_isEditable]="!this.flg_insert"
  />
  <app-assigned-editor
    [type]="'CategoryItems-Category'"
    [id]="category.id!"
    [AssignedObjects]="category.items"
    [flg_insert]="this.flg_insert"
  />
</mat-dialog-content>
