<div class="dialog container-fluid">
  <div class="w-100 d-flex position-relative">
    <h1 mat-dialog-title class="px-0">Inserire i dati del nuovo cliente:</h1>

    <button
      mat-icon-button
      class="m-2 position-absolute end-0"
      [mat-dialog-close]="null"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="categoryForm" class="formGroup">
    <div class="row">
      <mat-form-field class="col-2">
        <mat-label>ID</mat-label>
        <input formControlName="id" matInput />
      </mat-form-field>
      <mat-form-field class="col-10">
        <mat-label>Image Name</mat-label>
        <input formControlName="imagePath" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Item name</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>
    </div>

    <mat-checkbox formControlName="avaible" matInput>Available </mat-checkbox>

    <mat-checkbox formControlName="dineIn" matInput>Dine in </mat-checkbox>

    <mat-checkbox formControlName="takeAway" matInput>Take away </mat-checkbox>
  </form>
  <button mat-raised-button color="primary" (click)="confirmObject()">
    Create
  </button>
</div>
