<mat-toolbar class="w-100 position-relative mb-4 header" color="primary">
  <div>
    <h1 class="px-0 my-2 text-white">{{ "Store info" | translate }}</h1>
  </div>

  <button
    mat-icon-button
    class="m-2 position-absolute end-0"
    [mat-dialog-close]="null"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-0 overflow-x-hidden" style="max-height: 80vh">
  <div class="container-fluid pb-2">
    <form [formGroup]="storeForm" class="formGroup" (ngSubmit)="SubmitForm()">
      <div class="row">
        <mat-form-field class="col-6">
          <mat-label>{{ "Store name" | translate }}</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>

        <mat-form-field class="col-3">
          <mat-label>{{ "Store number" | translate }}</mat-label>
          <input formControlName="lRetailStoreID" matInput />
        </mat-form-field>

        <mat-form-field class="col-3">
          <mat-label>{{ "Store IP" | translate }}</mat-label>
          <input formControlName="store_ip" matInput />
        </mat-form-field>

        <mat-form-field class="col-3" *ngIf="!flg_insert">
          <mat-label>{{ "Last update date" | translate }}</mat-label>
          <input formControlName="last_request_date" matInput />
        </mat-form-field>

        <div class="col-3" *ngIf="!flg_insert">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="ForceReplication(store!.id!)"
          >
            Force Update
          </button>
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit">
        {{ flg_insert ? ("Create" | translate) : ("Save" | translate) }}
      </button>
    </form>
  </div>
</mat-dialog-content>
