<!-- <mat-toolbar
  class="w-100 position-relative"
  [class.mt-4]="type == 'KioskCategory'"
  color="primary"
>
  <div>
    <h1 class="px-0 my-2 text-white">
      {{
        (type == "CategoryItems-Category"
          ? "Items in this category"
          : type == "CategoryItems-Item"
          ? "Category this item is in"
          : type == "OptionItems-Item"
          ? "Option this item is in"
          : type == "OptionItems-Option"
          ? "Item choises"
          : type == "ItemOptions-Item"
          ? "Options"
          : type == "ItemOptions-Option"
          ? "Items this option is used in"
          : type == "KioskCategory"
          ? "Categories enabled"
          : ""
        ) | translate
      }}
    </h1>
  </div>

  <button
    mat-icon-button
    [disabled]="flg_insert"
    (click)="toggle()"
    class="m-2 position-absolute end-0"
  >
    <mat-icon>{{ this.state ? "expand_more" : "expand_less" }}</mat-icon>
  </button>
</mat-toolbar> -->

<div
  class="container-fluid row"
  class="expandable-content"
  style="height: 87vh"
  class="overflow-auto"
>
  <div class="row px-4 pt-2 w-100" *ngFor="let object of AssignedObjects">
    <mat-form-field appearance="outline" class="col-6">
      <mat-label>{{ "Name" | translate }}</mat-label>
      <input disabled matInput type="text" [(ngModel)]="object.name" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>{{ "Order" | translate }}</mat-label>
      <input matInput type="number" [(ngModel)]="object.order" />
    </mat-form-field>

    <button
      mat-mini-fab
      color="primary"
      class="p-1 col-1"
      (click)="UpdateAssignedObject(object)"
    >
      <mat-icon>save</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      class="p-1 col-1"
      (click)="DeleteAssignedObject(object)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <form
    [formGroup]="assignForm"
    class="formGroup"
    (ngSubmit)="InsertAssignedObject()"
  >
    <div class="row px-4 pt-4 w-100">
      <mat-form-field appearance="outline" class="col-6">
        <mat-label>{{ "Name" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions"
            [value]="option.name"
          >
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>{{ "Order" | translate }}</mat-label>
        <input matInput formControlName="order" type="number" />
      </mat-form-field>

      <button type="submit" mat-mini-fab color="primary" class="m-1 col-2">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </form>
</div>
