<mat-toolbar class="w-100 position-relative mb-4 header" color="primary">
  <div>
    <h1 class="px-0 my-2 text-white">{{ "Kiosk info" | translate }}</h1>
  </div>

  <button
    mat-icon-button
    class="m-2 position-absolute end-0"
    [mat-dialog-close]="null"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-0 overflow-x-hidden" style="max-height: 80vh">
  <div class="container-fluid">
    <form [formGroup]="kioskForm" class="formGroup" (ngSubmit)="SubmitForm()">
      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>{{ "Kiosk name" | translate }}</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>

        <mat-form-field class="col-8">
          <mat-label>{{ "IP" | translate }}</mat-label>
          <input formControlName="ip" matInput />
        </mat-form-field>

        <mat-checkbox
          formControlName="flg_consumations"
          matInput
          class="col-4"
          color="primary"
          >{{ "Enable Dine In / Take Away" | translate }}
        </mat-checkbox>

        <mat-form-field class="col-12">
          <mat-label>{{ "Last update date" | translate }}</mat-label>
          <input formControlName="last_request_date" matInput />
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">
        {{ flg_insert ? ("Create"| translate) : ("Save" | translate) }}
      </button>
    </form>
  </div>

  <app-assigned-editor
    [type]="'KioskCategory'"
    [id]="kiosk?.id!"
    [AssignedObjects]="kiosk?.categories"
    [flg_insert]="this.flg_insert"
  />
</mat-dialog-content>
