<div class="container-fluid">
  <div class="row">
    <mat-toolbar color="primary">
      <img src=".\assets\mylogo.png" class="logo" alt="" />

      <div>
        <h1 class="text-white m-2">Item Manager</h1>
      </div>
      <mat-button-toggle-group class="buttonGroup">
        <mat-button-toggle
          value="Category"
          routerLink="/Category"
          (click)="SetLabel('category')"
          >Category</mat-button-toggle
        >
        <mat-button-toggle
          value="Item"
          routerLink="/Item"
          (click)="SetLabel('item')"
        >
          Item
        </mat-button-toggle>
        <mat-button-toggle
          value="Option"
          routerLink="/Option"
          (click)="SetLabel('option')"
          >Option</mat-button-toggle
        >
      </mat-button-toggle-group>
    </mat-toolbar>
  </div>
</div>
