<div class="container-fluid">
  <div class="row">
    <mat-toolbar color="primary">
      <img src=".\assets\mylogo.png" class="logo" alt="" />

      <div>
        <h1 class="text-white m-2">{{ "Item Manager" | translate }}</h1>
      </div>
      <button
        mat-raised-button
        [color]="
          currentRoute == '/Kiosk' || currentRoute == '/' ? '' : 'primary'
        "
        class="m-2"
        routerLink="/Kiosk"
      >
        {{ "Kiosk" | translate }}
      </button>
      <button
        mat-raised-button
        [color]="currentRoute == '/Category' ? '' : 'primary'"
        class="m-2"
        routerLink="/Category"
      >
        {{ "Category" | translate }}
      </button>
      <button
        mat-raised-button
        [color]="currentRoute == '/Item' ? '' : 'primary'"
        class="m-2"
        routerLink="/Item"
      >
        {{ "Item" | translate }}
      </button>
      <button
        mat-raised-button
        [color]="currentRoute == '/Option' ? '' : 'primary'"
        class="m-2"
        routerLink="/Option"
      >
        {{ "Option" | translate }}
      </button>
      <div class="language">
        <mat-form-field>
          <mat-select [(value)]="status.languages[1].value">
            <mat-option
              *ngFor="let language of this.status.languages"
              [value]="language.value"
            >
              {{ language.label | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-toolbar>
  </div>
</div>
