<div class="container-fluid" *ngIf="this.status.isLogged">
  <div class="row">
    <mat-toolbar color="primary">
      <img src=".\assets\mylogo.png" class="logo" alt="" />

      <div>
        <h1 class="text-white m-2">{{ "Item Manager" | translate }}</h1>
      </div>
      <button
        mat-raised-button
        [color]="
          currentRoute == '/Kiosk'  ? '' : 'primary'
        "
        class="m-2"
        routerLink="/Kiosk"
      >
        {{ "Kiosk" | translate }}
      </button>
      <button
        mat-raised-button
        [color]="currentRoute == '/Category' ? '' : 'primary'"
        class="m-2"
        routerLink="/Category"
      >
        {{ "Category" | translate }}
      </button>
      <button
        mat-raised-button
        [color]="currentRoute == '/Item' ? '' : 'primary'"
        class="m-2"
        routerLink="/Item"
      >
        {{ "Item" | translate }}
      </button>
      <button
        mat-raised-button
        [color]="currentRoute == '/Option' ? '' : 'primary'"
        class="m-2"
        routerLink="/Option"
      >
        {{ "Option" | translate }}
      </button>
      <button
        mat-raised-button
        [color]="currentRoute == '/User' ? '' : 'primary'"
        class="m-2"
        routerLink="/User"
      >
        {{ "User" | translate }}
      </button>


      <div class=" d-flex language position-absolute   end-0" >
        <button
        mat-icon-button
        class="m-1"
        (click)="Logout()"
      >
        <mat-icon>logout</mat-icon>
      </button>
        <mat-form-field >
          <mat-select [(value)]="status.languages[1].value">
            <mat-option
              *ngFor="let language of this.status.languages"
              [value]="language.value"
              (onchange)="setLanguage(language.value)">
              {{ language.label | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-toolbar>
  </div>
</div>
