.container-fluid {
  padding: 0%;
}

.row {
  width: 100%;
  margin: 0;
}
.logo {
  width: 3%;
  object-fit: scale-down;
  margin: 1%;
}

.buttonGroup {
  margin: 0% 0% 0% 5%;
}
.mat-button-toggle-group-appearance-standard {
  border: none;
}
