<div class="container" >
  <button mat-raised-button color="primary"  class="create" *ngIf="status.buttonValue !== ''">
    Create {{status.buttonValue}}
  </button>
<form [formGroup]="filterForm" (change)="GetOption()" class="formGroup">
    <mat-form-field >
      <mat-label>ID</mat-label>
      <input formControlName="id" matInput placeholder="ID">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>
</form> </div>
<app-edit-list
  *ngIf="this.list != null"
  [parentData]="this.list"
  [columnName]="'Option'"
></app-edit-list>
