<div class="container">
  <button
    mat-raised-button
    color="primary"
    (click)="ModifyObject()"
    class="create"
    *ngIf="status.buttonValue !== ''"
  >
    Create {{ status.buttonValue }}
  </button>
  <div class="d-flex">
    <form [formGroup]="filterForm" class="formGroup">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input formControlName="id" matInput placeholder="ID" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Name" />
      </mat-form-field>
    </form>
    <button
      mat-raised-button
      color="primary"
      class="search"
      (click)="GetOption()"
    >
      Search
    </button>
  </div>
</div>
<app-edit-list
  *ngIf="this.list != null"
  [parentData]="this.list"
  [columnName]="'Option'"
></app-edit-list>
