<div class="container">
  <table mat-table [dataSource]="parentData" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="col-1">ID</th>
      <td mat-cell *matCellDef="let element" class="col-1">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name" class="col-9">
      <th mat-header-cell *matHeaderCellDef>NAME</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="col-2">
        <div class="w-100 d-flex justify-content-center">ACTIONS</div>
      </th>
      <td mat-cell *matCellDef="let element" class="justify-content-end">
        <div class="w-100 d-flex justify-content-center">
          <button
            (click)="ModifyItem(element.id!)"
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a filter list icon"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a filter list icon"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <!-- <table class="table">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">{{ this.columnName }}</th>
      <th scope="col">Actions</th>
    </thead>
    <tbody>

      <tr *ngFor="let item of this.parentData">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>
          <button (click)="ModifyItem(item.id!)" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>
