<div class="container">
  <table class="table">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">{{ this.columnName }}</th>
      <th scope="col">Actions</th>
    </thead>
    <tbody>

      <tr *ngFor="let item of this.parentData">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>
          <button (click)="ModifyItem(item.id!)" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
            <!-- creare i modelli -->
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
