.ripple{
  cursor: pointer;


  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  padding-right:0;
  padding-left:0;
}
