<div class="container mt-3">
  <div class="row"><h1>Items</h1></div>
  <form [formGroup]="filterForm" class="formGroup">
    <div class="row container-fluid">
      <mat-form-field class="col-3 m-1">
        <mat-label>ID</mat-label>
        <input formControlName="id" matInput />
      </mat-form-field>
      <mat-form-field class="col-3 m-1">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>
      <mat-form-field class="col-3 m-1">
        <mat-label>Barcode</mat-label>
        <input formControlName="barcode" matInput />
      </mat-form-field>
    </div>
    <div class="container-fluid d-flex justify-content-between">
      <button
        mat-raised-button
        color="primary"
        class="mx-1 mb-3"
        (click)="GetItems()"
      >
        Search
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="OpenDialogModifyItem()"
        class="mx-1"
      >
        Create {{ status.buttonValue }}
      </button>
    </div>
  </form>
</div>

<app-edit-list
  *ngIf="this.list != null"
  [parentData]="this.list"
  [columnName]="'Item'"
></app-edit-list>
