<mat-toolbar class="w-100 position-relative mt-4" color="primary">
  <div>
    <h1 class="px-0 my-2 text-white">{{ "Translations" | translate }}</h1>
  </div>

  <button
    mat-icon-button
    [disabled]="!this.flg_isEditable"
    (click)="toggle()"
    class="m-2 position-absolute end-0"
  >
    <mat-icon>{{ this.state ? "expand_more" : "expand_less" }}</mat-icon>
  </button>
</mat-toolbar>

<div
  class="container-fluid row"
  [@bodyExpansion]="this.state ? 'collapsed' : 'expanded'"
  class="expandable-content"
>
  <div class="row px-4 pt-4" *ngFor="let translation of translations">
    <mat-form-field class="col-2">
      <mat-label>{{ "Language" | translate }}</mat-label>
      <input matInput disabled type="text" [(ngModel)]="translation.language" />
    </mat-form-field>

    <mat-form-field class="col-2">
      <mat-label>{{ "Field" | translate }}</mat-label>
      <input matInput disabled type="text" [(ngModel)]="translation.field" />
    </mat-form-field>

    <mat-form-field class="col-6">
      <mat-label>{{ "Value" | translate }}</mat-label>
      <textarea matInput [(ngModel)]="translation.value"></textarea>
    </mat-form-field>

    <button
      mat-mini-fab
      color="primary"
      class="p-1 col-1"
      (click)="UpdateTranslation(translation)"
      [disabled]="translation.value === '' || (!this.storage.CheckPermission(this.storage.CountryManagerPermission) && this.type === 'Item')"

    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      class="p-1 col-1"
      (click)="DeleteTranslation(translation)"
      [disabled]="translation.value === '' || (!this.storage.CheckPermission(this.storage.CountryManagerPermission) && this.type === 'Item')"

    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <form
    [formGroup]="translationForm"
    class="formGroup"
    (ngSubmit)="InsertTranslation()"
  >
    <div class="row px-4 pt-4">
      <mat-form-field class="col-2">
        <mat-label>{{ "Language" | translate }}</mat-label>
        <mat-select formControlName="language">
          <mat-option
            *ngFor="let value of this.fieldTranslation"
            [value]="value"
            >{{ value }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-2">
        <mat-label>{{ "Field" | translate }}</mat-label>
        <mat-select formControlName="field">
          <mat-option *ngFor="let value of valueTranslation" [value]="value">{{
            value
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>{{ "Value" | translate }}</mat-label>
        <textarea matInput formControlName="value" type="text"></textarea>
      </mat-form-field>

      <button type="submit" mat-mini-fab color="primary" class="m-1 col-1"
      [disabled]="(!this.storage.CheckPermission(this.storage.CountryManagerPermission) && this.type === 'Item')"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </form>
</div>
