
<div class="dialog">
  <form [formGroup]="optionForm"  class="formGroup">
  <mat-form-field class="example-full-width">
    <mat-label>ID</mat-label>
    <input type="number" formControlName="id" matInput value="" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Default quantity</mat-label>
    <input type="number" formControlName="defaultQuantity" matInput value="" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Max quantity</mat-label>
    <input type="number" formControlName="minQuantity" matInput value="" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Min quantity</mat-label>
    <input type="number" formControlName="maxQuantity" matInput value="" >
  </mat-form-field>

  <mat-checkbox formControlName="flg_addToCart" matInput value="" class="example-margin">Is avaible
  </mat-checkbox>



  <mat-form-field class="example-full-width">
    <mat-label>Option name</mat-label>
    <input  formControlName="name" matInput value="" >
  </mat-form-field>
</form>
<button mat-raised-button color="primary"  (click)="confirmObject()">
  Create
</button>
</div>
