<mat-toolbar class="w-100 position-relative mb-4 header" color="primary">
  <div>
    <h1 class="px-0 my-2 text-white">{{ "Discount info" | translate }}</h1>
  </div>

  <button
    mat-icon-button
    class="m-2 position-absolute end-0"
    [mat-dialog-close]="null"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-0 overflow-x-hidden" style="max-height: 80vh">
  <div class="container-fluid">
    <form [formGroup]="discountForm" class="formGroup">
      <div class="row">
        <mat-form-field class="text">
          <mat-label>{{ "Name" | translate }}</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
        <mat-form-field class="text">
          <mat-label>{{ "Description" | translate }}</mat-label>
          <input formControlName="description" matInput />
        </mat-form-field>
        <mat-form-field class="col-3">
          <mat-label>Discount type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of discountType" [value]="type.value">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-3">
          <mat-label>{{ "Discount value" | translate }}</mat-label>
          <input formControlName="value" matInput type="number" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3">
          <mat-label>{{ "Quantity" | translate }}</mat-label>
          <input formControlName="quantity" matInput type="number" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3">
          <mat-label>{{ "Country" | translate }}</mat-label>
          <mat-select formControlName="country_id">
            <mat-option *ngFor="let country of countries" [value]="country.id">
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" class="col-8">
            <mat-label>{{ "Country" | translate }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="country_id"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option
                *ngFor="let country of countries"
                [value]="country.id"
              >
                {{ country.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->

        <div class="col-12 d-flex flex-column">
          <mat-checkbox
            formControlName="flg_distribute"
            matInput
            color="primary"
          >
            {{ "Discount distributed" | translate }}
          </mat-checkbox>

          <mat-checkbox
            formControlName="flg_discountedItems"
            matInput
            color="primary"
          >
            {{ "Apply on discounted items" | translate }}
          </mat-checkbox>

          <mat-checkbox formControlName="flg_loyalty" matInput color="primary">
            {{ "Loyalty discount" | translate }}
          </mat-checkbox>
        </div>
      </div>
    </form>
    <button
      mat-raised-button
      color="primary"
      [disabled]="discountForm.invalid"
      (click)="SubmitForm()"
    >
      {{ (flg_insert ? "Create" : "Save") | translate }}
    </button>

    <button
      *ngIf="!flg_insert"
      mat-raised-button
      color="primary"
      type="button"
      class="ms-4"
      (click)="OpenDialogModifyItem(discount?.id!, 'DISCOUNT')"
    >
      Set availability
    </button>
  </div>
  <app-discounted-item-editor
    [id]="discount?.id!"
    [type]="'Discount'"
    [DiscountedObjects]="discount?.items!"
    [flg_insert]="this.flg_insert"
  />
  <app-assigned-editor
    [type]="'DiscountStore'"
    [id]="discount?.id!"
    [AssignedObjects]="discount?.stores!"
    [flg_insert]="this.flg_insert"
    [country_id]="discount?.country_id"
  />
</mat-dialog-content>
