<mat-toolbar class="w-100 position-relative mb-4 header" color="primary">
  <div>
    <h1 class="px-0 my-2 text-white">{{ "Kiosk info" | translate }}</h1>
  </div>

  <button
    mat-icon-button
    class="m-2 position-absolute end-0"
    [mat-dialog-close]="null"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class="p-0 overflow-x-hidden" style="max-height: 80vh">
  <div class="container-fluid">

      <div class="row">
        <form [formGroup]="userForm" class="formGroup" >
        <mat-form-field class="col-12">
          <mat-label>{{ "Username" | translate }}</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
      </form>

      <mat-form-field class="col-12" *ngIf="this.userU==null">
        <mat-label>{{ "Password" | translate }}</mat-label>
        <input  matInput />
      </mat-form-field>

      </div>

      <!-- <button mat-raised-button color="primary" type="button" *ngIf="this.userU!=null" (click)="SubmitForm()">
        {{ ("Modify password" | translate) }}
      </button> -->
    <button mat-raised-button color="primary" type="button" (click)="SubmitForm()">
      {{ this.userU==null ? "Create" : ("Save" | translate) }}
    </button>
  </div>
