<mat-toolbar class="w-100 position-relative mb-4 header" color="primary">
  <div>
    <h1 class="px-0 my-2 text-white">{{ "User info" | translate }}</h1>
  </div>

  <button
    mat-icon-button
    class="m-2 position-absolute end-0"
    [mat-dialog-close]="null"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class="p-0 overflow-x-hidden" style="max-height: 80vh">
  <div class="container-fluid">
    <form [formGroup]="userForm" class="formGroup">
      <div class="row">
        <mat-form-field class="col-6">
          <mat-label>{{ "Username" | translate }}</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
        <mat-form-field class="m-6">
          <mat-label>User type</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let type of roleType" [value]="type.value">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row" *ngIf="this.userU == null">
        <mat-form-field class="col-6">
          <mat-label>{{ "Password" | translate }}</mat-label>
          <input type="password" formControlName="password" matInput />
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>{{ "Confirm Password" | translate }}</mat-label>
          <input type="password" formControlName="confirmPassword" matInput />
        </mat-form-field>
      </div>
    </form>
    <button
      [disabled]="
        userForm.invalid ||
        !this.storage.CheckPermission(this.storage.adminPermission)
      "
      mat-raised-button
      color="primary"
      type="button"
      (click)="SubmitForm()"
    >
      {{ this.userU == null ? "Create" : ("Save" | translate) }}
    </button>
    <button
      mat-raised-button
      [disabled]="!ModifyPasswordButtonCheck()"
      color="primary"
      type="button"
      *ngIf="this.userU != null"
      routerLink="/modify-password"
      [mat-dialog-close]="null"
    >
      {{ "Modify password" | translate }}
    </button>
  </div>
  <app-country-store-editor
    [id]="userU?.id!"
    [type]="'User'"
    [relatedObjects]="userU?.relationship"
    [flg_insert]="this.flg_insert"
  />
</mat-dialog-content>
