<mat-toolbar class="w-100 position-relative mb-4 header" color="primary">
  <div>
    <h1 class="px-0 my-2 text-white">{{ "User info" | translate }}</h1>
  </div>

  <button
    mat-icon-button
    class="m-2 position-absolute end-0"
    [mat-dialog-close]="null"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class="p-0 overflow-hidden" style="max-height: 93vh">
  <div class="container-fluid">
    <form [formGroup]="userForm" class="formGroup">
      <div class="row">
        <mat-form-field class="col-4">
          <mat-label>{{ "Username" | translate }}</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>{{ "Role" | translate }}</mat-label>
          <input matInput formControlName="role" [matAutocomplete]="roleAuto" />
          <mat-autocomplete autoActiveFirstOption #roleAuto="matAutocomplete">
            <mat-option *ngFor="let role of filteredRole" [value]="role.Role">
              {{ role.Role }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>{{ "Vynamic user" | translate }}</mat-label>
          <input formControlName="vyUser" matInput />
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>{{ "Badge" | translate }}</mat-label>
          <input formControlName="badge" matInput />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="button"
          class="col-2"
          (click)="readCard()"
        >
          {{ "Read badge" | translate }}
        </button>
      </div>
      <div class="row" *ngIf="flg_insert">
        <mat-form-field class="col-4">
          <mat-label>{{ "Password" | translate }}</mat-label>
          <input type="password" [formControl]="password" matInput />
        </mat-form-field>

        <mat-form-field class="col-4">
          <mat-label>{{ "Confirm Password" | translate }}</mat-label>
          <input type="password" [formControl]="confirmPassword" matInput />
        </mat-form-field>
      </div>
    </form>
    <form [formGroup]="passForm" class="formGroup" *ngIf="isResetPassword">
      <div class="row">
        <mat-form-field class="col-4">
          <mat-label>{{ "Old password" | translate }}</mat-label>
          <input type="password" formControlName="oldPass" matInput />
        </mat-form-field>

        <mat-form-field class="col-4">
          <mat-label>{{ "New password" | translate }}</mat-label>
          <input type="password" formControlName="newPass" matInput />
        </mat-form-field>

        <mat-form-field class="col-4">
          <mat-label>{{ "Confirm new password" | translate }}</mat-label>
          <input type="password" formControlName="confPass" matInput />
        </mat-form-field>
      </div>
    </form>

    <!-- <mat-form-field class="col-12" *ngIf="this.userU == null">
        <mat-label>{{ "Password" | translate }}</mat-label>
        <input type="password" [formControl]="password" matInput />
      </mat-form-field>

      <mat-form-field class="col-12" *ngIf="this.userU == null">
        <mat-label>{{ "Confirm Password" | translate }}</mat-label>
        <input type="password" [formControl]="confirmPassword" matInput />
      </mat-form-field>
    

    -->
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="SubmitForm()"
    >
      {{ flg_insert ? "Create" : ("Save" | translate) }}
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      *ngIf="!flg_insert"
      (click)="ModifyPassword()"
    >
      {{ (isResetPassword ? "Cancel" : "Modify password") | translate }}
    </button>
  </div>
</mat-dialog-content>
