<div class="container mt-3">
  <div class="row">
    <h1>{{ "Devices" | translate }}</h1>
  </div>
  <form [formGroup]="filterForm" class="formGroup">
    <div class="row container-fluid">
      <mat-form-field class="col-3 m-1">
        <mat-label>{{ "Device ID" | translate }}</mat-label>
        <input formControlName="Id" matInput />
      </mat-form-field>
      <mat-form-field class="col-3 m-1">
        <mat-label
          >{{ "Name" | translate }}/{{ "Workstation" | translate }}</mat-label
        >
        <input formControlName="NameWorkstation" matInput />
      </mat-form-field>
      <mat-form-field class="col-3 m-1">
        <mat-label>{{ "Store" | translate }}</mat-label>
        <input formControlName="Store" matInput />
      </mat-form-field>
    </div>
    <div class="container-fluid d-flex justify-content-between">
      <div>
        <button
          mat-raised-button
          color="primary"
          class="mx-1 mb-3"
          (click)="GetDevices()"
        >
          {{ "Search" | translate }}
        </button>
        <button
          mat-raised-button
          color="primary"
          class="mx-1 mb-3"
          (click)="ResetForm()"
        >
          {{ "Clear" | translate }}
        </button>
      </div>

      <button
        mat-raised-button
        color="primary"
        (click)="OpenDialogAddDevice()"
        class="mx-1"
      >
        {{ "Add device" | translate }}
      </button>
    </div>
  </form>
</div>
<app-edit-list
  *ngIf="this.list != null"
  [parentData]="this.list"
  [columnName]="'Device'"
  (refresh)="this.GetDevices()"
></app-edit-list>
