<div class="container mt-3">
  <div class="row">
    <h1>{{ "Kiosks" | translate }}</h1>
  </div>
  <form [formGroup]="filterForm" class="formGroup">
    <div class="row container-fluid">
      <mat-form-field class="col-3 m-1">
        <mat-label>{{ "Hostname" | translate }}</mat-label>
        <input formControlName="hostname" matInput />
      </mat-form-field>
      <mat-form-field class="col-3 m-1">
        <mat-label>{{ "IP" | translate }}</mat-label>
        <input formControlName="ip" matInput />
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <button
          mat-raised-button
          color="primary"
          class=" mb-3 ms-3 me-1"
          (click)="GetKiosks()"
        >
          {{ "Search" | translate }}
        </button>
        <button
          mat-raised-button
          color="primary"
          class="mx-1 mb-3"
          (click)="ResetForm()"
        >
          {{ "Clear" | translate }}
        </button>
      </div>


      <!--  (click)="OpenDialogAddKiosk(store.id!)" -->
    </div>
  </form>
</div>
<div class = "container d-flex justify-content-end ">

  <div class="mb-3 me-3">
  <button mat-raised-button color="primary" class="mx-1"
    [disabled]="!this.storage.CheckPermission(this.storage.userPermission)" (click)="OpenDialogAddCountry()">
    {{ "Add country" | translate }}
  </button>
  </div>

</div>

<div *ngFor="let country of countries" class = "container quad mb-3 px-4 " >

  <div class="d-flex justify-content-between mt-3">
    <div class="col-3">
      <h1>{{ country.name }}</h1>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        class="mx-1"
        (click)="DeleteObject(country.id!, 'Country')"
        [disabled]="!this.storage.CheckPermission(this.storage.userPermission)"
      >
        {{ "Remove country" | translate }}</button
      ><button
        mat-raised-button
        color="primary"
        [disabled]="!this.storage.CheckPermission(this.storage.userPermission)"
        class="mx-1"
        (click)="OpenDialogEditCountry(country.id!)"

      >
        {{ "Edit country" | translate }}
      </button>

      <button (click)="OpenDialogAddStore(country)" mat-raised-button color="primary"
        [disabled]="!this.storage.CheckPermission(this.storage.userPermission)" class="mx-1">
        {{ "Add store" | translate }}
      </button>

      <button
        mat-raised-button
        color="primary"
        class="mx-1"
        (click)="UpdateStores()"
        [disabled]="!this.storage.CheckPermission(this.storage.userPermission)"
      >
        {{ "Update stores" | translate }}</button
      >
    </div>

  </div>
<div *ngFor="let s of country.stores" class="my-2">

    <mat-toolbar color="primary" class="container  justify-content-between ">
    <h2 class="col-3 m-3">{{ s.name }}</h2>
    <div>
      <button
        mat-raised-button
        color=""
        (click)="DeleteObject(s.id!,'Store')"
        class="mx-1"
        [disabled]="!this.storage.CheckPermission(this.storage.userPermission)"

      >
        {{ "Remove store" | translate }}</button
      ><button
        mat-raised-button
        color=""
        (click)="OpenDialogEditStore(s.id!)"
        class="mx-1"
        [disabled]="!this.storage.CheckPermission(this.storage.userPermission)"

      >
        {{ "Edit store" | translate }}
      </button>
      <button
        mat-raised-button
        color=""
        (click)="OpenDialogAddKiosk(s)"
        class="mx-1"
        [disabled]="!this.storage.CheckPermission(this.storage.userPermission)"
      >
        {{ "Add kiosk" | translate }}
      </button>
    </div>
    </mat-toolbar>
  <app-edit-list
    [parentData]="s.formattedKiosk"
    [columnName]="'Kiosk'"
    (refresh)="this.GetCountries()"
  >
  </app-edit-list>


</div>
</div>
