<div class="dialog">
  <mat-toolbar class="w-100 position-relative mb-4" color="primary">
    <div>
      <h1 class="px-0 my-2 text-white">Option info</h1>
    </div>

    <button
      mat-icon-button
      class="m-2 position-absolute end-0"
      [mat-dialog-close]="null"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container-fluid">
  <form [formGroup]="optionForm" class="formGroup" (ngSubmit)="SubmitForm()">
    <div class="row">
      <mat-form-field class="col-12">
        <mat-label>Option name</mat-label>
        <input formControlName="name" matInput value="" />
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>Default quantity</mat-label>
        <input type="number" formControlName="default_quantity" matInput />
      </mat-form-field>

      <mat-form-field class="col-4">
        <mat-label>Max quantity</mat-label>
        <input type="number" formControlName="min_quantity" matInput />
      </mat-form-field>

      <mat-form-field class="col-4">
        <mat-label>Min quantity</mat-label>
        <input type="number" formControlName="max_quantity" matInput />
      </mat-form-field>

      <mat-checkbox
        formControlName="flg_addToCart"
        matInput
        class="example-margin"
        color="primary"
        >Is available
      </mat-checkbox>
    </div>

    <button mat-raised-button color="primary" type="submit">
      {{ flg_insert ? "Create" : "Modify" }}
    </button>
  </form>
</div>

<app-translations-editor  [translations]="option?.translations!" [type]="'Option'"
 [id]="option?.id!" [flg_isEditable]="!this.flg_insert" />

</div>
