<mat-toolbar class="w-100 position-relative mb-4 header" color="primary">
  <div>
    <h1 class="px-0 my-2 text-white">{{ "Option info" | translate }}</h1>
  </div>

  <button
    mat-icon-button
    class="m-2 position-absolute end-0"
    [mat-dialog-close]="null"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-0 overflow-x-hidden" style="max-height: 80vh">
  <div class="container-fluid">
    <form [formGroup]="optionForm" class="formGroup" (ngSubmit)="SubmitForm()">
      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>{{ "Option name" | translate }}</mat-label>
          <input formControlName="name" matInput value="" />
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>{{ "Default quantity" | translate }}</mat-label>
          <input type="number" formControlName="default_quantity" matInput />
        </mat-form-field>

        <mat-form-field class="col-4">
          <mat-label>{{ "Min quantity" | translate }}</mat-label>
          <input type="number" formControlName="min_quantity" matInput />
        </mat-form-field>

        <mat-form-field class="col-4">
          <mat-label>{{ "Max quantity" | translate }}</mat-label>
          <input type="number" formControlName="max_quantity" matInput />
        </mat-form-field>

        <mat-checkbox  formControlName="flg_addToCart" matInput color="primary"
          >{{ "Add to transaction" | translate }}
        </mat-checkbox>
      </div>

      <button [disabled]="
         !this.storage.CheckPermission(this.storage.CountryManagerPermission)" mat-raised-button color="primary" type="submit">
        {{ flg_insert ? ("Create" | translate) : ("Save" | translate) }}
      </button>
      <button *ngIf="!flg_insert" [disabled]="optionForm.invalid ||
                     !this.storage.CheckPermission(this.storage.CountryManagerPermission) " mat-raised-button color="warn"
        type="button" [mat-dialog-close]="null" class="ms-4" (click)="this.status.DeleteObject(option?.id!,'Option')">
        Delete
      </button>
      <button *ngIf="!flg_insert"   mat-raised-button color="primary" class="ms-4" type="button" (click)="OpenDialogModifyItem(option?.id!,'OPTION')">
        Set availability
      </button>
    </form>

  </div>

  <app-translations-editor
    [translations]="option?.translations!"
    [type]="'Option'"
    [id]="option?.id!"
    [flg_isEditable]="!this.flg_insert"
  />
  <app-assigned-editor
    [type]="'OptionItems-Option'"
    [id]="option?.id!"
    [AssignedObjects]="option?.items"
    [flg_insert]="this.flg_insert"
  />
  <app-assigned-editor
    [type]="'ItemOptions-Option'"
    [id]="option?.id!"
    [AssignedObjects]="option?.itemsItsIn"
    [flg_insert]="this.flg_insert"
  />
</mat-dialog-content>
