<mat-toolbar class="w-100 position-relative mb-4 header" color="primary">
  <div>
    <h1 class="px-0 my-2 text-white">{{ "Edit Password" | translate }}</h1>
  </div>
  <button
    mat-icon-button
    class="m-2 position-absolute end-0"
    type="button"
    (click)="home()"
  >
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>


  <div class="container-fluid">

      <div class="row">
        <form [formGroup]="passForm" class="formGroup" >
        <mat-form-field class="col-12">
          <mat-label>{{ "Old password" | translate }}</mat-label>
          <input type="password" formControlName="oldPass" matInput />
        </mat-form-field>
        <div class="row">
          <mat-form-field class="col-12 " >
            <mat-label>{{ "New password" | translate }}</mat-label>
            <input type="password" formControlName="newPass" matInput />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-12">
            <mat-label>{{ "Confirm new password" | translate }}</mat-label>
            <input type="password" formControlName="confPass" matInput />
          </mat-form-field>
        </div>

      </form>



      <button mat-raised-button color="primary" (click)="SubmitForm()" type="button" >
      Confirm
    </button>
  </div>
